@import "settings";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

noscript {
  position: absolute;
  width: 100%;
  z-index: 5;
  top: 0;
  padding: 1em 0;
  background: #fff;
  text-align: center;
  font-weight: 700;
  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: #0c2461;
      cursor: pointer;
    }
  }
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .card {
    margin: auto;
    width: 625px;
    height: 500px;
    background: #fafafa;
    position: relative;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
    }
    &::before {
      height: 90px;
      background: $blue;
    }
    &::after {
      bottom: 0;
      height: 100px;
      background: $gray;
    }
    .avatarImage {
      position: absolute;
      left: 47px;
      top: -13px;
    }
    .cardHeading {
      position: absolute;
      text-transform: uppercase;
      color: #fff;
      line-height: 90px;
      width: 100%;
      text-align: center;
      font-size: 1.8em;
      padding-left: 2em;
      letter-spacing: 1px;
    }
    .message {
      margin-top: 125px;
      padding: 0 45px;
      font-size: .95em;
    }
    .validationForm {
      padding: 120px 45px 24px 45px;;
      label {
        text-transform: uppercase;
        font-size: 16px;
      }
      input[type='email'], input[type='password']{
        display: block;
        margin: 12px 0 33px 0;
        width: 100%;
        height: 48px;
        padding-left: 17px;
        border: 1px solid #ACACAC;
        border-radius: 5px;
        box-shadow: 5px 9px 10px #ACACAC;
        color: #ACACAC;
        position: relative;
      }
      .required {
        position: relative;
        &::before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          border-top: 38px solid $blue;
          border-left: 48px solid transparent;
        }
        i {
            position: absolute;
            top: -7px;
            right: -3px;
            z-index: 5;
            font-size: 19px;
            color: #fff;
            padding: 15px;
            &:hover {
              cursor: pointer;
              &::before {
                content: 'required';
                position: absolute;
                top: -38px;
                right: -25px;
                width: 80px;
                height: 27px;
                line-height: 27px;
                font-size: 13px;
                z-index: 1;
                text-align: center;
                font-style: normal;
                background: $blue;
                border-radius: 5px;
              }
              &::after {
                content: '';
                position: absolute;
                width: 28px;
                height: 28px;
                background: $blue;
                transform: rotate(45deg);
                top: -31px;
                right: 0;
              }
            }
          }
          span {
            position: absolute;
            bottom: -25px;
            right: 0;
            font-weight: 700;
          }
        }
      }
      input[type='checkbox'] {
        width: 21px;
        height: 21px;
        float: left;
        margin: 0 9px 0 0;
        color: $blue;
        position: relative;
        &:checked::after {
          content: '✔';
          color: $blue;
          font-size: 34px;
          font-weight: 700;
          top: -19px;
          left: -1px;
          display: block;
          z-index: 99;
          position: absolute;
          transform: rotate(16deg);
        }
      }
      .resetLink {
        position: absolute;
        bottom: 0;
        right: 186px;
        z-index: 1;
        line-height: 100px;
        color: $blue;
        text-decoration: none;
      }
      .cancelLink {
        position: absolute;
        left: 45px;
        z-index: 1;
        text-decoration: none;
        color: $red;
        padding: 17px 30px;
        bottom: 25px;
        border-radius: 5px;
        border: 1px solid $red;
        background: #fff;
        box-shadow: 5px 9px 10px #ACACAC;
        &:hover {
          background: $red;
          color: #fff;
          cursor: pointer;
        }
      }
      input[type='submit'] {
        position: absolute;
        z-index: 1;
        padding: 17px 30px;
        bottom: 25px;
        right: 45px;
        border-radius: 5px;
        border: 1px solid #ACACAC;
        color: #ACACAC;
        background: #fff;
        box-shadow: 5px 9px 10px #ACACAC;
        &:hover {
          background: $blue;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }


  @media screen and (max-width: 400px) {
    .wrapper .card {
      font-size: .85em;
    }
    .wrapper .card .validationForm label {
      font-size: 1em;
    }
    .wrapper .card .resetLink {
      bottom: 70px;
      left: 45px;
      line-height: 1em;
      right: auto;
    }
    .wrapper .card input[type='submit'] {
      bottom: 12px;
      left: 45px;
      padding: 13px 25px;
    }
  }
  @media screen and (max-height: 550px) {
    .wrapper .card {
      width: 100%;
      height: 100vh;
    }
  }
